header {
    background-color: #FEF7FF; /* Couleur de fond clair */
}

body {
    background-color: #FEF7FF; /* Couleur de fond clair */
}

/* Pour les icônes globe et paramètres */
#globe-icon,
#parametre-icon {
    margin-right: 10px;
    margin-left: 10px;
    width: 30px; /* Ajuste la taille de l'image */
    height: auto; /* Empêche l'image de se déformer */
}

/* Pour les boutons contenant les icônes (globe et paramètres) */
button:focus, 
button:active, 
button:focus-visible {
    box-shadow: none !important; /* Enlève l'ombre générée par le focus */
}

/* Pour éviter tout changement de mise en page sur focus ou clic */
.nav-link {
    margin-right: 20px;
    color: #333;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Effet au survol - zoom */
.nav-link:hover {
    transform: scale(1.1);
    text-decoration: none;
    color: #333;
}

/* Style du menu caché par défaut */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #FEF7FF;
    overflow-x: hidden;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 2;
}

/* Liens du menu */
.sidebar a {
    margin-top: 10px;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #ddd;
}

/* Décalage du premier élément */
.sidebar a:first-child {
    margin-top: 50px;
}

/* Menu actif (visible) */
.sidebar.active {
    left: 0;
}

/* Bouton du menu */
#menu-btn {
    margin-right: 25px;
    cursor: pointer;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 8px;
    color: #000;
    top: 10px;
    left: 10px;
    z-index: 1000;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    outline: none;
}

#menu-btn img {
    width: 40px;
    height: auto;
}


#menu-btn:hover {
    background-color: #bbb;
}

#menu-btn:active {
    border-color: #999;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin: 0;
}